#search-component {
  i {
    font-size: 20px;
    position: absolute;
    top: 83px;
    left: 50px;
  }

  input {
    padding-left: 35px;
  }
}

#actions-component {
  padding-top: 15px;
}

#results-component {
  padding: 20px 0 0 0;
}
